footer {
    align-items: center;
    color: var(--light-grey);
    display: flex;
    flex-flow: row nowrap;
    grid-area: footer;
    height: var(--longer-length);
    justify-content: space-between;
}

footer div {
    width: auto;
}

footer p {
    line-height: var(--long-length);
    margin: 0;
    padding:0;
}

.social-media-div {
    height: auto;
    margin-bottom: var(--short-length);
    margin-top: var(--short-length);
}

.fab {
    color: var(--darkest-grey);
    font-size: 2.5rem;
    margin-left: calc(0.5*var(--short-length));
}

.fab:hover, .fas:hover {
    color: var(--lightest-grey);
}

.footer-right {
    grid-area: footer-right;
    text-align: right;
}

.fa-arrow-alt-circle-up {
    font-size: 3rem;
    margin: var(--short-length);
    color: var(--darkest-grey);
}

[tooltip]{
    position:relative;
}

[tooltip]:hover::before {
    border-right: 1rem solid transparent;
    border-top: 1rem solid var(--grey);
    content:"";
    height: 0;
    left: 1.7rem;
    top: -2.8rem;
    position: absolute;
    width: 0;
}

[tooltip]:hover::after {
      content: attr(tooltip);
      float: top;
      position: absolute;
      background: var(--grey);
      text-align: center;
      color: var(--lighter-grey);
      padding: 0.5rem 1.5rem 0.4rem 0.7rem;
      border-radius: 2px 2px 2px 0;
      pointer-events: none;
      left: 1.7rem;
      top: -4.8rem;
}