.circle {
    background: radial-gradient(var(--grey-gradient));
    border-radius: 50%;
    height: 80px;
    width: 80px;
}

.icon i {
    color: white; 
    font-size: 2rem;
    line-height: 65px;
}

.fas {
    font-size: 2.5rem;
    margin: calc(0.5*var(--short-length));
    color: var(--darkest-grey);
}